body {
  overflow: hidden;
}

.mainLoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/user-management-image.jpg');
  background-size: cover;
  min-height: 100vh; 
  margin: 0;
}

.cardLoginContainer {
  background-color: #fff; 
  border-radius: 4px;
  padding: 20px 40px; 
  width: 25%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titleLoginContainer {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.loginContainer {
  text-align: center; /* Center the child elements */
}

.loginInputBox {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginButton {
  border: none;
  background: #2596be;
  color: white;
  padding: 7px 30px !important;
  margin: 8px;
  font-size: 18px !important;
  border-radius: 4px;
  cursor: pointer;
}

.login-label{
  margin-bottom: 7px;
  font-weight: bold;
}

.forgotLabel {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.forgotpass-a {
  text-decoration: none;
  color: rgb(24, 144, 255);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.relative-login {
  position: relative;
  height: 43px;
}

.eye-icon-login {
  position: absolute;
  top: 35%;
  right: 20px; 
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  z-index: 1; 
}

.recaptcha-login {
  margin-top: 20px;
}
