.mainLogoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 6%;
    background-size: cover;
}
  
.cardLogoutContainer {
    background-color: #fff; 
    border-radius: 4px;
    padding: 40px 40px; 
    width: 30%;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0.1, 0.1);
}
  
.titleLogoutContainer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.logout-text {
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
}

.button-main {
    display: flex;
    justify-content: center;
}
  
.logout-button-cancle {
    padding: 7px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
    border-color: #2596be;
    color: #000;
}

.logout-button-ok {
    padding: 7px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #2596be;
    border-color: #2596be;
    color: white;
}
  

  