.profile-main-css {
    display: flex;
    justify-content: center;
    align-items: center; 
}
  
.profile-form-css{
    width : 43%;
    margin-top: 3.5%;
    background-color: #fff;
    border-radius: 4px;
    padding: 30px 40px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0.1, 0.1);
} 

.profileTitle {
    text-align: center;
    margin-bottom : 30px;
    font-weight : bold;
}

.profile-image-main {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.profile-image {
    width : 20%
}

.form-group-profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.profileInputBox {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profile-label{
  margin-bottom: 7px;
  font-weight: bold;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #000;
    cursor: default;
    outline: none;
    padding: 0.4rem;
    transition: all 200ms ease;
}

.profile-submit-btn-main {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
  
.profile-submit-btn {
    border: none;
    background: #2596be;
    color: white;
    padding: 7px 40px; 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.profileLeft {
    justify-content: center !important;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
  
.profileImg {
    text-align: center;
    object-fit: cover;
}
  
.rounded-profile {
    border-radius: 50%;
}
  
input#profile-IMAGE {
    display: none;
}

.changeBtn {
    font-size: 16px;
    display: inline-block !important;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #2596be;
    cursor: pointer;
}

.profile-image-container {
    position: relative;
}

.camera-icon-container {
    position: absolute;
    top: 92px;
    right: 4px;
    cursor: pointer;
    z-index: 1;
    color: #fff;
    padding: 1px 4px 4px 4px;
    border-radius: 36px;
    border: 1px solid #2596be;
    background: #2596be;
    width: 33px;
    height: 33px;
}

.camera-icon {
    width: 20px; 
    height: 18px;
}
