.home-page-container {
  min-height: 50vh;
}

.no-user {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.create-user-btn-main {
  display: flex;
  justify-content: flex-end;
  margin-right: 3.8%;
}

.create-user-btn {
  border: none;
  background: #2596be;
  color: white;
  padding: 7px 20px !important;
  margin: 20px 20px!important;
  font-size: 17px !important;
  border-radius: 4px;
  cursor: pointer;
  float: right;
} 

.user-table-main-container {
  width : 100%
}

.user-table {
  overflow: hidden;
  border-collapse: collapse;
  box-shadow: 0px 1px 9px #ccc;
  border-radius: 4px;
  width: 90%;
  margin: auto;
}

.user-table thead {
  background-color: #ccc;
  color: #222;
}

.user-table th {
  text-align: left;
}

.user-table th,
.user-table td {
  padding: 0.8rem;
}

.user-table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-table tbody tr:hover {
  background-color: #eee;
}

.label {
  border-radius: 4px;
  padding: 0.3rem;
  color: white;
}

.user-actions {
  display: flex;
  margin-left: 0;
}

.user-actions svg {
  cursor: pointer;
}

.user-edit-btn {
  color: #4211f1;
  margin-right: 15px;
}


.user-delete-btn {
  color: #e10d05;
}

.edit-user-modal-container {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-user-modal {
  border-radius: 4px;
  padding: 2rem;
  background-color: white;
  width: 43em;
}

.editUserModalTitle {
  text-align: center;
  margin-bottom: 30px;
}

.edit-user-btn {
  display: block;
  margin: auto;
  border: none;
  background: #2596be;
  color: white;
  padding: 7px 30px !important;
  font-size: 18px !important;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 45px;
}

.form-group-home {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.editUserInputBox {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edituser-label{
  margin-bottom: 7px;
  font-weight: bold;
}

.delete-confirmation-modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.delete-confirmation-modal p {
  margin-bottom: 35px;
}

.delete-confirmation-modal button {
  padding: 7px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-confirmation-modal button:first-child {
  background-color: #ccc;
  color: white;
}

.delete-confirmation-modal button:last-child {
  background-color: #ff3b3b;
  color: white;
}

.select-css-home {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4rem;
  color: #333;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.filterUser {
  padding: 7px 20px !important;
  margin: 20px 20px!important;
  font-size: 17px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.relative-home {
  position: relative;
  height: 43px;
}

.eye-icon-home,
  .eye-icon-cp-home {
    position: absolute;
    top: 110%;
    right: 25px; 
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    z-index: 1; 
}