body {
    overflow: hidden;
}
  
.mainForgotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/user-management-image.jpg');
    background-size: cover;
    min-height: 100vh; 
    margin: 0;
}
  
.cardForgotContainer {
    background-color: #fff; 
    border-radius: 4px;
    padding: 20px 40px; 
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.titleForgotContainer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
  
.inputForgotContainer {
    text-align: center; /* Center the child elements */
}
  
.inputForgotBox {
    width: 100%;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.forgotPasswordButton {
    border: none;
    background: #2596be;
    color: white;
    padding: 7px 30px !important;
    margin: 8px;
    font-size: 18px !important;
    border-radius: 4px;
    cursor: pointer;
}

.forgot-label{
    margin-bottom: 7px;
    font-weight: bold;
}
  
 
  