.headerContainer {
    padding: 22px 55px 22px 20px;
    background-color: #2596be;
    text-align: right;
}
  
.headerLink {
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-size: 18px;
}
  
.headerLink.active {
    color: #fff!important;
    margin: 0 18px;
    font-size: 18px;
    background-color: #3DB0D9;
    padding: 6px 20px;
    border-radius: 4px;
}